.col-img {
    overflow: hidden;
    margin-bottom: 15px;
    height: 400px;
    max-width: 90%;
}

img {
    margin: 0;
    position: absolute;
    top: -25%;
    min-width: 100%;
    min-height: 100%;
}

