<div class="row">
    <div class="col-xs-12">
        

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipeDetails.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 align-middle col-img">
        <img class="align-middle" [src]="recipeDetails.imagePath" alt="{{recipeDetails.name}}">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div appDropdown class="btn-group">
            <button class="btn btn-primary dropdown-toggle">Manage Recipe
                <span class="caret">
                    <ul class="dropdown-menu">
                        <li>
                            <a (click)="sendToShoppingList()">To shopping list</a>
                        </li>
                        <li>
                            <a (click)="onEditRecipe()">Edit recipe</a>
                        </li>
                        <li>
                            <a>Delete recipe</a>
                        </li>
                    </ul>
                </span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{ recipeDetails.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ing of recipeDetails.ingredients">
                {{ ing.name }} - {{ ing.amount }}

            </li>
        </ul>
    </div>
</div>