<a class="list-group-item clearfix" [routerLink]="[index]" routerLinkActive="active">
    <div class="row">
        <div class="col-xs-8">
            <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
        </div>
        <div class="col-xs-4 col-img">
            <div>
                <!-- string interpolation and property binding -->
                <img src="" [src]="recipe.imagePath"
                    alt="{{ recipe.name }}" class="img-responsive">
            </div>
        </div>
    </div>
</a>